doctype html
html
  head
    title hello
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/assets/css/paper-dashboard.css?v=2.0.0', rel='stylesheet')
    link(href='/stylesheets/assets/demo/demo.css', rel='stylesheet')
  body
  .wrapper 
    .main-panel 
      h2 aaa
