header.app-header
	a.app-header__logo(href='index.html') Apps

	// Sidebar toggle button
	a.app-sidebar__toggle(href='#', data-toggle='sidebar', aria-label="Hide Sidebar")

	// Navbar Right Menu
	ul.app-nav

		li.dropdown
			a.app-nav__item(href='/api-docs', target='_blank')
				| API server
